<%- include('./partials/head.ejs') %>


<h1>Enquete</h1>
<h2>Minor Web Development</h2>
<h3><%- name %></h3>

<section class="enquete">
    <h2>Nog te maken:</h2>

    <% make.forEach(enq => { %>
<a href="enq/<%= enq %>">
<section>
    <h1><%= enq %></h1>
</section>
</a>
<% }); %>


<h2>Al afgerond:</h2>
<% done.forEach(enq => { %>
    <a href="enq/<%= enq %>">
    <section>
        <h1><%= enq %></h1>
    </section>
    </a>
    <% }); %>
    

   



<button>Doorvoeren</button>