<%- include('./partials/head.ejs') %>

<section class="header">
<h1>Enquete</h1>
<h2>Minor Web Development</h2>
<h3><%- name %></h3>
</section>

<h2>Nog te maken:</h2>
<section class="enquete">
    <% make.forEach(enq => { %>
<a href="enq/<%= enq %>">
<section>
    <h1><%= enq %></h1>
</section>
</a>
<% }); %>
</section>

<h2>Al afgerond:</h2>
<section class="enquete">
<% done.forEach(enq => { %>
    <a href="enq/<%= enq %>">
    <section>
        <h1><%= enq %></h1>
    </section>
    </a>
    <% }); %>
</section>

   



<input type="Submit" value="Submit" class="overviewbutton">

<%- include('./partials/footer.ejs') %>